In [ ]:
Data Structures  :- Way to store and organize data
Lists , Tuples, Dictionary, Sets

In [ ]:
Mutable-changable     saved in same location either it will do some operations also
Immutable=not changable       saved in different location if we done any operations

In [ ]:
Lists-(mutable)-list is a collection of data types ex: my_list=[1,2,3,"apple","banana",3]
common List Operations
append, remove
listt is mutabel ie it cannot change the address after doing any operations
list is denoted by []

In [2]:
age="48"
print(type(age))
age=int(age)
print(type(age))

<class 'str'>
<class 'int'>

In [4]:
my_list=[1,2,3,"apple","banana",3]
my_list

[1, 2, 3, 'apple', 'banana', 3]

In [ ]:
Tuples
Python Tuple is a collection of Python objects much like a list but,
Tuple is immutable ie it will change the address
The elements in the tuple cannot be addded or removed
It can contain multiple items with same value
It can hold any tpe of data and allows duplicate values.
tuple is used paranthesis()
my_tuple=(1,2,3,"apple",banana)

In [ ]:
Difference between list and tuple

List                                                                  Tuple
Mutable (can be changed)                                       Immutable(cannot be changed)
Defined using [] (square bracckets)                            defined by using ()
slower due to mutability                                       faster due immutability
takes more memory                                              takes less memory                            
supports insertions, deletions,updates                         fixed once created, no modifictions allowed
suitable for dynamic data                                      suitable for fixed read only data                                     
iteration speed is slower                                      iteration speed is faster
more methods like append(),remove(),                           fewer methods (count(),index())
sort().

In [15]:
#basic tuple
my_list=("karthik","noor","sai")
print(my_list)

('karthik', 'noor', 'sai')

In [16]:
# tuple with mixed data 
my_list=(1,2,3,"apple","banana",3)
print(my_list)

(1, 2, 3, 'apple', 'banana', 3)

In [12]:
#nested tuple
nested_tuple=((1,2,3),("a","b","c"))
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'))

In [13]:
practice_tuple=(("chidananda","pavan","renuka"),(1,2,3))
print(practice_tuple)

(('chidananda', 'pavan', 'renuka'), (1, 2, 3))

In [17]:
#single element tuple
single_element=(42)
print(single_element)

42

In [18]:
#Empty Tuple
empty_tuple=()
print(empty_tuple)

()

Tuple Operations

Accessing elements

In [20]:
#access by index
fruits=("apple","banana","grapes")
print(fruits)

('apple', 'banana', 'grapes')

In [21]:
#negative indexing
print(fruits[-1])

grapes

In [22]:
#access nested tuples
nested=(("charan","nirosha","ganga"),(1,2,3))
print(nested[1][2])

3

In [24]:
#iterate through a tuple
for i in fruits:
    print(i)

apple
banana
grapes

In [25]:
#tuple length
print(len(fruits))

3

Tuple Methods

In [26]:
#count function will return the numberr of times
#the defined value has been repeted
data=(1,2,3,2,2,4)
print(data.count(2))

3

In [1]:
#concatenate Tuples
#1+4=5
#"1"+"4"=14
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple3=(7,8,9)
combined=tuple1+tuple2+tuple3
print(combined)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [31]:
#Repeat a Tuple
repeated=("Anitha",)*5
print(repeated)

('Anitha', 'Anitha', 'Anitha', 'Anitha', 'Anitha')

In [33]:
#using membership operator
print(data)
print(45 in data)

(1, 2, 3, 2, 2, 4)
False

Tuple unpacking

In [34]:
#Unpack into variables
point=(3,4,5)
x,y,z=point
print(x,y,z)

3 4 5

In [35]:
#immutable nature
numbers=(1,2,3)
try:
    numbers[0]=10
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [2]:
#Convert Tuple to list for modification
numbers=(1,2,3)
numbers_list=list(numbers)
numbers_list[0]=10
numbers_list=tuple(numbers_list)
print(numbers_list)

(10, 2, 3)

In [39]:
#Immutable Nested tuple
#here we define the value in a list inside  tuple
#as list is mutable so 1 is replaced with 99
nested=([1,2],[3,4])
nested[0][0]=99
print(nested)

([99, 2], [3, 4])

In [42]:
numbers_list

(10, 2, 3)

In [ ]:
Dictionaries
a dictionary ia anunorderd collection of key value paris
Keys are unique, and values can be of any data type
dictionary cannot have indexing
Items have no specific order
Dictionaries are mutable,can change add or remove items
Each key must be unique
my_dict={"name":"John","age":25,"city":"mumbai"}

In [16]:
my_dict={"shopping":"clothes","stationary":"pen","fruits":"apple"}
print(my_dict)
print(my_dict["fruits"])
my_dict["marks"]=98
my_dict

{'shopping': 'clothes', 'stationary': 'pen', 'fruits': 'apple'}
apple

{'shopping': 'clothes', 'stationary': 'pen', 'fruits': 'apple', 'marks': 98}

In [29]:
#nested dictionary

classroom={
    "student1":{"name":"Alice","age":45},
    "student2":{"name":"Bob","age":22}
}
print(classroom)

{'student1': {'name': 'Alice', 'age': 45}, 'student2': {'name': 'Bob', 'age': 22}}

In [31]:
#dictionary using dict() constructor

employee=dict(name="Alice",position="Developer",salary=75000)
print(employee)

{'name': 'Alice', 'position': 'Developer', 'salary': 75000}

In [14]:
#pop will delete the last item
my_dict={"shopping":"clothes","stationary":"pen","fruits":"apple"}
my_dict.popitem()
my_dict

{'shopping': 'clothes', 'stationary': 'pen'}

In [19]:
del my_dict["fruits"]
my_dict

{'shopping': 'clothes', 'stationary': 'pen'}

In [1]:
student={"name":"karthik","age":26}
print(student)

{'name': 'karthik', 'age': 26}

In [2]:
for key in student:
    print(key)

name
age

In [3]:
for value in student.values():
    print(value)

karthik
26

In [4]:
#adding a new key value pair

student["grade"]="A"
print(student)

{'name': 'karthik', 'age': 26, 'grade': 'A'}

In [9]:
#update an existing value

print("old data",student)
student["age"]=28
print("Updated data ",student)

old data {'name': 'karthik', 'age': 28, 'grade': 'A'}
Updated data  {'name': 'karthik', 'age': 28, 'grade': 'A'}

In [10]:
#update using update

student.update({"grade":"B","city":"New York"})
print(student)

{'name': 'karthik', 'age': 28, 'grade': 'B', 'city': 'New York'}

In [11]:
#adding multiple keys
new_data={"email":"xyz@gmail.com","is_active":True}
student.update(new_data)
print(student)

{'name': 'karthik', 'age': 28, 'grade': 'B', 'city': 'New York', 'email': 'xyz@gmail.com', 'is_active': True}

In [24]:
#deleting elements
#using del

del student["age"]
print(student)

{'name': 'karthik', 'grade': 'B', 'email': 'xyz@gmail.com'}

In [25]:
#using pop item
#pop is different from pop item 
#pop is use to delte particular item
#pop item will delete default last value
last_item=student.popitem()
print(last_item)

('email', 'xyz@gmail.com')

In [28]:
#delete all values but kew should presentt
my_dict={"shopping":"clothes","stationary":"pen","fruits":"apple"}
for i in my_dict:
    my_dict[i]=None
print(my_dict)

{'shopping': None, 'stationary': None, 'fruits': None}

In [30]:
#check for key existence
print(student)
print("name" in student)

{'name': 'karthik', 'grade': 'B'}
True

In [31]:
#get keys
keys=student.keys()
print(keys)

dict_keys(['name', 'grade'])

In [32]:
#get values
values=student.values()
print(values)

dict_values(['karthik', 'B'])

In [33]:
#get items

items=student.items()
print(items)

dict_items([('name', 'karthik'), ('grade', 'B')])

In [34]:
#copy dictionary
copy_student=student.copy()
print(copy_student)

{'name': 'karthik', 'grade': 'B'}

#python dictionary comprehension example

In [40]:
#python code to demonstrate dictionary
#comprehesion
#lists to represent keys and values
keys=['a','b','c','d','e','f']
values=[1,2,3,4,5,6]
#but this line shows dict comprehension here
myDict={k:v for (k,v) in zip(keys,values)}      #or myDict=dict(zip(keys,values))
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

using fromkeys() Method

In [8]:
dic=dict.fromkeys(range(5),True)
print(dic)

{0: True, 1: True, 2: True, 3: True, 4: True}

Using dictionary comprehension make dictionary

In [9]:
#Python code to demnstrae dictionary
#creation using list comprehension
myDict={x:x**2 for x in [1,2,3,4,5]}
print(myDict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
Sets
A set is an unordered collection of unique elements.
set is mutable,but their elements mist be immutable
Duplictes not allowed even if we try to push duplicte it will automatically delete
add , remove operations
indexing is not possible in set

In [44]:
#examples of sets
#basic set
fruits={"apple","grapes","mango","watermelon","orange"}
fruits

{'apple', 'grapes', 'mango', 'orange', 'watermelon'}

In [45]:
#set with mixed data tupes
#set is not allowing boolean data type
n={1,2,3,"apple",3.45,3,True}
print(n)

{1, 2, 3.45, 3, 'apple'}

In [20]:
my_set1={1,2,3,4,5}
my_set2={6,7,8,9,6,5}
print(my_set1)
print(my_set2)

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9}

In [3]:
my_set1={1,2,3,4,5}
my_set1.add("apple")
my_set1

{1, 2, 3, 4, 5, 'apple'}

In [22]:
my_set1.remove("apple")
my_set1

{1, 2, 3, 4, 5}

In [24]:
print(my_set1 .union(my_set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Set operations

1.Adding and Removing elements

In [46]:
fruits

{'apple', 'grapes', 'mango', 'orange', 'watermelon'}

In [48]:
#add an element
fruits.add("banana")
print(fruits)

{'mango', 'grapes', 'watermelon', 'orange', 'banana', 'apple'}

In [51]:
#remove element
fruits.remove("apple")
print(fruits)

{'mango', 'grapes', 'watermelon', 'banana'}

In [52]:
#discard an element (no error if not found)
fruits.discard("grapes")
print(fruits)

{'mango', 'watermelon', 'banana'}

In [54]:
fruits

{'banana', 'mango', 'watermelon'}

In [55]:
#pop a random element
fruits_new=fruits.pop()
print(fruits_new)

mango

In [56]:
fruits

{'banana', 'watermelon'}

Set Operations

In [58]:
#union-it will not allow duplicates
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [60]:
#Intersection-it will gives the common value
print(set1.intersection(set2))

{3}

In [64]:
#difference
set1={1,2,3}
set2={3,4,5}
print(set1.difference(set2))   # it will print unique elements in set1 compare to set2

{1, 2}

In [65]:
print(set2.difference(set1))     # it will print unique elements in set2 compare to set1

{4, 5}

In [66]:
set1={1,2,3}
set2={3,4,5}
#Symmetric difference, it will return all item without

print(set1.symmetric_difference(set2))

{1, 2, 4, 5}

In [68]:
#update a set with another
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

Subset and Superset Operations

In [ ]:
issubset() will return true
if all thte item of set1 is present is set2 i.e true or else false

In [69]:
#check subset
set1={1,2,3}
set2={1,2,3,4,5}
print(set1.issubset(set2))

True

In [71]:
print(set2.issubset(set1))

False

In [73]:
print(set1.issuperset(set2))

False

In [74]:
print(set2.issuperset(set1))

True

In [5]:
set1={1,2,3}
print(set1)

{1, 2, 3}

In [7]:
#copy a set
set_copy=set1.copy()
print(set_copy)

{1, 2, 3}

In [8]:
#add Multiple Elements using update
set1.update([3,4,5])
print(set1)

{1, 2, 3, 4, 5}

In [2]:
##length of  a set
set1={1,2,3}
print(len(set1))

3

In [3]:
#membership test
print(3 in set1)

True

In [4]:
#Loop through elements
for element in set1:
    print(element)

1
2
3

In [5]:
#convert set to list
set_list=list(set1)
print(set_list)

[1, 2, 3]

In [7]:
#Enumerate over a set--- it will give the indexing to set 1
for idx,element in enumerate(set1):
    print(idx,element)

0 1
1 2
2 3

In [8]:
#Apply Function to set elements
squared={x**2 for x in set1}
print(squared)

{1, 4, 9}

In [10]:
#Filter Set Elements
filtered={x for x in squared if x%2==0}
print(filtered)

{4}